In [2]:
import numpy as np
import pandas as pd

In [1]:
# !curl https://raw.githubusercontent.com/dbdmg/data-science-lab/master/datasets/GLT_filtered.csv

**1. Load the Global Land Temperature dataset as a list of lists. Before starting, take a moment to bet-
ter inspect the attributes you are going to work on. How many of them are nominal, how many
continuous or discrete?**


| **Type**       | **Count** | **Features** |
|---------------|----------|-------------|
| **Nominal**   | 2        | City, Country |
| **Continuous** | 5        | Date, AverageTemperature, AverageTemperatureUncertainty, Latitude, Longitude |
| **Discrete**  | 0        | None |

In [3]:
df = pd.read_csv('GLT_filtered.csv')
df

,Date,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,NaN,NaN,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W
...,...,...,...,...,...,...,...
219570,2012-08-01,23.885,0.435,Xian,China,34.56N,108.97E
219571,2012-09-01,17.028,1.405,Xian,China,34.56N,108.97E
219572,2012-10-01,12.399,0.526,Xian,China,34.56N,108.97E
219573,2012-11-01,4.736,0.519,Xian,China,34.56N,108.97E
219574,2012-12-01,-0.822,0.451,Xian,China,34.56N,108.97E

**2. Analyze the attribute AverageTemperature, which contains missing values. Fill any gap with the
arithmetic mean among the closest antecedent and the closest successive measurements in time,
taken in the same city.**

In [4]:
df.sort_values(by=['City', 'Date'], inplace=True)

In [5]:
df['AverageTemperature'] = df.groupby('City', group_keys=False)['AverageTemperature'].apply(lambda x: x.interpolate(method='linear'))
df

,Date,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,26.787,NaN,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W
...,...,...,...,...,...,...,...
219570,2012-08-01,23.885,0.435,Xian,China,34.56N,108.97E
219571,2012-09-01,17.028,1.405,Xian,China,34.56N,108.97E
219572,2012-10-01,12.399,0.526,Xian,China,34.56N,108.97E
219573,2012-11-01,4.736,0.519,Xian,China,34.56N,108.97E
219574,2012-12-01,-0.822,0.451,Xian,China,34.56N,108.97E