In [ ]:
import numpy as np
import pandas as pd
import os
import requests
import zipfile
from io import BytesIO

In [ ]:


# URL of the file
url = 'https://github.com/dbdmg/data-science-lab/raw/master/datasets/NYC_POIs.zip'

# Define the download location (current directory)
download_path = os.path.join(os.getcwd(), 'NYC_POIs.zip')

# Download the file
print("Downloading the file...")
response = requests.get(url)
response.raise_for_status()  # Raise an exception if the download fails

# Save the file locally
with open(download_path, 'wb') as f:
    f.write(response.content)
print(f"File downloaded: {download_path}")

# Unzip the file in the current directory
print("Unzipping the file...")
with zipfile.ZipFile(download_path, 'r') as zip_ref:
    zip_ref.extractall(os.getcwd())
print("File unzipped successfully!")

# Optionally, delete the zip file after extraction
os.remove(download_path)
print("Zip file deleted.")

Downloading the file...
File downloaded: c:\Users\taha_kms\Documents\GitHub\DSE_POLITO\DSL_LAB_5\NYC_POIs.zip
Unzipping the file...
File unzipped successfully!
Zip file deleted.

In [21]:
df = pd.read_csv('pois_all_info', sep='\t', encoding='utf-8')

df.head()

C:\Users\taha_kms\AppData\Local\Temp\ipykernel_11696\1852758458.py:1: DtypeWarning: Columns (4,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('pois_all_info', sep='\t', encoding='utf-8')

,@id,@type,@lat,@lon,amenity,name,shop,public_transport,highway
0,42432939,node,40.814104,-73.949623,NaN,NaN,NaN,stop_position,NaN
1,42448838,node,40.761647,-73.949864,NaN,NaN,NaN,stop_position,NaN
2,42723103,node,40.852182,-73.772677,ferry_terminal,Hart Island Ferry Terminal,NaN,NaN,NaN
3,42764076,node,40.867164,-73.882158,NaN,Botanical Garden,NaN,stop_position,NaN
4,42811266,node,40.704806,-73.772734,NaN,NaN,NaN,stop_position,NaN

,@id,@type,@lat,@lon,amenity,name,shop,public_transport,highway
0,42432939,node,40.814104,-73.949623,NaN,NaN,NaN,stop_position,NaN
1,42448838,node,40.761647,-73.949864,NaN,NaN,NaN,stop_position,NaN
2,42723103,node,40.852182,-73.772677,ferry_terminal,Hart Island Ferry Terminal,NaN,NaN,NaN
3,42764076,node,40.867164,-73.882158,NaN,Botanical Garden,NaN,stop_position,NaN
4,42811266,node,40.704806,-73.772734,NaN,NaN,NaN,stop_position,NaN
...,...,...,...,...,...,...,...,...,...
77879,600919896,way,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77880,600919898,way,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77881,600919900,way,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77882,600931232,way,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77883,600931233,way,NaN,NaN,NaN,NaN,NaN,NaN,NaN